
html body {
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 100%;
}

.wrap
{
	display: flex; 
	height: 100%; 
	width: 100%; 
	align-items: center; 
	justify-content: center; 
	background-color: black 
} 

#canvas
{
	border: 1px gray solid; 
	height: 600px; 
	width: 500px;
}

.menu{
	position: absolute; 
	display: flex; 
	align-items: center; 
}

.menu button{
	width: 100px;  
	font: normal 16pt Century Gothic
	}

